.book-list {
  .add-book-button {
    display: block;
    margin-bottom: 4px;
  }
  .book {
    margin-bottom: 4px;

    .quote {
      font-size: 12px;
    }
  }
  .author {
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.5;
  }
}

form {
  label {
    float: left;
    width: 80px;
    font-size: 16px;
  }

  select,
  input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    outline: none;
    border: 0;
    font-size: 16px;
    border-bottom: 1px solid #333;
  }
}

.book-details {
  .title {
    font-size: 24px;
  }
  .author {
    font-size: 18px;
  }
  .finished-on {
    font-size: 12px;
    margin: 8px 0;
  }
}
