body,
html {
  margin: 0;
  max-width: 650px;
  margin: auto;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  // font-weight: lighter;
}

.logo {
  font-family: "PT Serif";
  font-size: 18px;
}
header {
  font-size: 16px;
}

.content {
  padding: 8px;
}

a {
  color: black;
  text-decoration: underline;
}

.breadcrumb {
  font-size: 12px;
  margin-bottom: 16px;
}
