<header>
  <%= link_to "Readme", root_path %>
  <div class="grow"></div>
  <%= link_to "+", "/books/new" %> 
  <% if current_user %>
  <%= link_to current_user.username, current_user%> <% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</header>
